/assets/
/backups/
/coremods/
/crash-reports/
/journeymap/
/logs/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/structurize/
/texturepacks/
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
hei_bookmarks.ini
icon.png
usercache.json
usernamecache.json